<div class="content">
  <div class="content__header">
    <div class="content__header__logo"></div>
    <div class="content__header__nav">
      <div>
        <button mat-button color="basic">Accueil</button>
      </div>
      <div>
        <button mat-button color="basic">Nos produits</button>
      </div>
      <div>
        <button mat-button color="basic">A propos</button>
      </div>
      <div>
        <button mat-button color="basic">Nous contacter</button>
      </div>
    </div>
    <div class="content__header__buttons">
      <div class="content__header__buttons__b1">
        <button mat-flat-button>Devis en ligne</button>
      </div>
      <div class="content__header__buttons__b2">
        <button mat-button>
          <mat-icon>home</mat-icon>
          <p>Mon espace client</p>
        </button>
      </div>
    </div>
  </div>
  <div class="content__img">
    <div class="content__img__shadow">
      CONTACT NOUS
    </div>
  </div>
</div>
