<div class="content">
  <div class="top">
    <div class="top__nav top__top">
      <div class="top__top__title">Navigations</div>
      <div class="top__top__p">Accueil</div>
      <div class="top__top__p">Qui sommes nous</div>
      <div class="top__top__p">Nos produis</div>
      <div class="top__top__p">Documents</div>
      <div class="top__top__p">Mention</div>


    </div>
    <div class="top__search top__top">
      <div class="top__top__title">S'inscrire a la newsletter</div>
      <div class="top__top__p">Retrouver ici</div>
      <div class="top__top__input">
        <input type="text" placeholder="Enter your mail">
        <button mat-button>Envoyer</button>
      </div>
    </div>
    <div class="top__contact top__top">
      <div class="top__top__logo"></div>
      <div class="top__top__title">Nous Conntacter</div>
      <div class="top__top__p">Telephone</div>
      <div class="top__top__p">Adress</div>
    </div>
  </div>
  <div class="bottom">
    <div class="links"></div>
  </div>
</div>
