<div class="content">
  <div class="left">
    <div class="left__top">
      <div class="left__top__logo"></div>
      <div class="left__top__info">
        <p>
          <span class="title">
            Adress:
          </span>
          <br>
          <span class="info1">
            205  Avenue du Maréchal Leclerc
          </span>
          <br>
          <span class="info1">
            91630 Massy
          </span>
        </p>
        <p>
          <span class="title">
            Telephone
          </span>
          <br>
          <span class="info2">
            01 45 65 50 50
          </span>
        </p>
        <p>
          <span class="title">
            Email:
          </span>
          <br>
          <span class="info2">
            contact@kotion.fr
          </span>
        </p>
        <p>
          <span class="title">
            Horaires:
          </span>
          <br>
          <span class="info1">
            Du lundi au vendredi de 9h à 18h
          </span>
        </p>
      </div>
    </div>
    <div class="left__bottom">
      <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2631.4364059977365!2d2.2995454156699995!3d48.73535987927568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e677a80d8db66f%3A0xb047a915e8c4fc75!2s205%20Av.%20du%20Mar%C3%A9chal%20Leclerc%2C%2091300%20Massy!5e0!3m2!1sfr!2sfr!4v1648032406636!5m2!1sfr!2sfr"
      width="600"
      height="210"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"></iframe>
    </div>
  </div>
  <div class="right">
    <form action="" method="post">
      <div class="line line1">
        <div class="input1">
          <p>
            nom:
          </p>
          <input type="text" name="" id="">
        </div>
        <div class="input2">
          <p>
            prenom:
          </p>
          <input type="text" name="" id="">
        </div>
      </div>
      <div class="line">
        <p>Adress Email</p>
        <input type="text" name="" id="">
      </div>
      <div class="line">
        <p>Object</p>
        <input type="text">
      </div>
      <div class="line">
        <p>
          Message
        </p>
        <textarea name="" id="" cols="30" rows="10" class="text"></textarea>
      </div>
      <div class="line">
        <button mat-button>Envoyer</button>
      </div>
    </form>
  </div>
</div>
